body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	user-select: none;
}

:root {
	--app-top-bg-color: #f9f9f9;
	--app-bottom-bg-color: #fff;
	--app-sidebar-bg-color: #ededed;
	--sidebar-menu-hover-bg: #e6e6e6;
	--sidebar-menu-active-bg: #e1e1e1;
	--sidebar-menu-text-color: #000;
	--sidebar-menu-text-active-color: red;
	--app-top-nav-color: #646464;
	--app-top-nav-hover-color: #646464;
	--app-top-nav-active-color: #646464;
}

ul{
  list-style: none;
  list-style-type: none;
}
